*{
    box-sizing: border-box;
}

body{
    background:linear-gradient(to right, rgb(255, 0, 0), rgb(255, 10, 235));
}
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.1);
    overflow-x:hidden;
    top:0;
    left:0;
    padding-top: 60px;
    transition: 0.5s linear;
    
    
}
.sidenav a{
    text-decoration: none;
    font-size: 2rem;
    transition: 0.3s;
    padding: 8px 8px 8px 32px;
    display: block;
    color: white;
}

.sidenav a:hover{
    color:rgba(0,0,0, 0.5) ;
}

.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
span{
    font-size: 50px;
    cursor: pointer;
}
#main{
    transition:margin-left 0.5s linear;
    font-size: 20px;
}


@media screen and (max-height:400px) {
    .sidenav{
        padding-top: 15px;
    }
    .sidenav a{
        font-size: 18px;
    }
}

